# Banco de dados Neon
# postgresql://user:password@host.neon.tech/neondb?sslmode=require
DATABASE_URL=

# Meta Conversions API (server-side, secreto)
FB_PIXEL_ID=
FB_ACCESS_TOKEN=

# Meta Pixel (front-end, público)
NEXT_PUBLIC_FB_PIXEL_ID=
